<% if user_signed_in?%>
  <%= render 'form', tweet: @tweet %>
<% end %>


  <%= search_form_for @q do |f| %>
    <%= f.label :content %>
    <%= f.search_field :content_cont %>
  <% end %>



<div class="row">
  <% @tweets.reverse.each do |tweet| %>
    <div class="col-sm-12 col-md-12">
          <h3><%= tweet.user %></h3>
          <%= image_tag (tweet.user.image_url), class:"img_size" if tweet.user.image_url.present?%>
          <h3><%= tweet.content %></h3>
          <%= link_to 'like', likes_path(tweet.id), method: :post, class: "far fa-heart"%>
          <h3><%= tweet.likes_count %></h3>
          <i class="fas fa-retweet"></i>
          <h3><%= tweet.retweets_count %></h3>
          <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
    </div>
  <% end %>
</div>


<br>

<%= paginate @tweets %>